In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("data_for_modeling.csv")
df.head()

,role,seniority,avg_salary,state,company_rating,company_size,sector,company_age,city,region
0,data scientist,2,72.0,NM,3.8,2.0,Aerospace & Defense,47.0,other,West
1,data scientist,2,87.5,MD,3.4,3.0,Health Care,36.0,other,South
2,data scientist,2,85.0,FL,4.8,2.0,Business Services,10.0,other,South
3,data scientist,2,76.5,WA,3.8,3.0,"Oil, Gas, Energy & Utilities",55.0,Richland,West
4,data scientist,2,114.5,NY,2.9,1.0,Business Services,22.0,New York,Northeast

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   role            742 non-null    object
 1   seniority       742 non-null    int64
 2   avg_salary      742 non-null    float64
 3   state           742 non-null    object
 4   company_rating  742 non-null    float64
 5   company_size    732 non-null    float64
 6   sector          742 non-null    object
 7   company_age     742 non-null    float64
 8   city            742 non-null    object
 9   region          742 non-null    object
dtypes: float64(4), int64(1), object(5)
memory usage: 58.1+ KB

In [18]:
# drop city from the dataset
df = df.drop(['city', 'state'], axis =1)

In [ ]:
# create dummy variables for role, sector, region